* {
    box-sizing: border-box;
}

:root {
    --primary-color: #5d3bee;
    --heading-color: #080415;
    --normal-text-color: #51586a;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body {
    height: 5000px;
    font-size: 1.6rem;
    font-family: "DM Sans", sans-serif;
}

input,
textarea,
select,
button {
    font-family: inherit;
    font-size: inherit;
}

a {
    text-decoration: none;
}

button {
    border: none;
    outline: none;
}

/* =============== Common =============== */
.btn {
    min-width: 170px;
    height: 62px;
    color: #fdfdfd;
    background: var(--primary-color);
    font-size: 1.8rem;
    font-weight: 700;
    line-height: 166.667%;
}

.section-heading {
    text-align: center;
    color: var(--heading-color);
    font-size: 5.6rem;
    font-weight: 500;
    line-height: 117.857%;
    letter-spacing: -0.224rem;
}

.section-desc {
    margin-top: 20px;
    color: #51586a;
    text-align: center;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 166.667%;
}

/* =============== Header =============== */
.header {
    position: sticky;
    padding-top: 20px;
    top: -10px;
    background-color: #fbfaff;
    z-index: 9;
}

.header__inner {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 10px 0;
}

.header-email {
    display: flex;
    align-items: center;
    column-gap: 10px;
}

.header-email__message {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;

    width: 46px;
    height: 46px;
    border: 1px solid rgb(93, 59, 236, 0.2);
    border-radius: 50%;
}
.header-email__link {
    color: var(--heading-color);
    font-size: 2.2rem;
    font-weight: 500;
    line-height: 136.364%;
    text-decoration-line: underline;
}
.header__logo {
    position: absolute;
    inset: 50%;
    translate: -50% -50%;
}
.header__list {
    display: flex;
    column-gap: 43px;
}
.header__link {
    color: var(--normal-text-color);
    line-height: 143.75%;
}

/* =============== Hero =============== */
.hero {
    padding-top: 66px;
    background-color: #fbfaff;
    background-image: url(../images/bgr-hero.png);
    background-repeat: no-repeat;
    background-size: 100% calc(100% + 86px);
    background-position: bottom center;
}

.hero__media {
    padding-right: 71px;
}

.hero__img {
    display: block;
    width: 100%;
}

.hero__info {
    padding-top: 137px;
    width: 500px;
    margin-left: auto;
}

.hero__heading {
    color: var(--heading-color);
    font-size: 8rem;
    font-weight: 500;
    line-height: 95%;
}

.hero__desc {
    margin-top: 20px;
    width: 370px;
    color: var(--normal-text-color);
    font-size: 1.8rem;
    line-height: 166.667%;
}

.hero-cta {
    margin-top: 50px;
    display: flex;
    align-items: center;
    column-gap: 30px;
}

.hero-cta__link {
    color: var(--heading-color);
    font-size: 1.8rem;
    font-weight: 700;
    line-height: 166.667%;
    text-decoration-line: underline;
}

.hero-social {
    margin-top: 109px;

    display: flex;
    align-items: center;
    column-gap: 15px;
}

.hero-social__label {
    color: var(--normal-text-color);
    font-weight: 500;
    line-height: 187.5%;
}

.hero-social__list {
    display: flex;
    align-items: center;
    column-gap: 20px;
}

.hero-socical__item {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 1px solid rgba(8, 4, 21, 0.1);
}

/* =============== Clients =============== */
.clients {
    margin-top: 100px;
}

.clients__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.client__heading {
    --with-first-line: 86px;
    margin-left: var(--with-first-line);
    position: relative;
    width: 253px;
    color: var(--heading-color);
    font-size: 4.2rem;
    font-weight: 500;
    line-height: 119.048%;
    letter-spacing: -0.168rem;
}

.client__heading::before {
    position: absolute;
    left: calc(-1 * (var(--with-first-line) + 13px));
    top: 22px;
    content: "";
    display: block;
    width: 86px;
    height: 2px;
    background-color: var(--primary-color);
}

.clients__list {
    flex-shrink: 2;
    display: grid;
    grid-template-columns: repeat(3, 1fr) 102px;
    align-items: center;
    gap: 41px 36px;
}

.clients-item {
    display: flex;
    align-items: center;
    border-radius: 50%;
    column-gap: 13px;
}

.clients-item__logo {
    width: 36px;
    height: 36px;
    border-radius: 50%;
}

.clients-item__name {
    font-size: 1.7rem;
    font-weight: 500;
}

/* =============== Skills =============== */
.skills {
    margin-top: 133px;
}

.skills__desc {
    width: 534px;
    margin-left: auto;
    margin-right: auto;
}

.skills__list {
    margin-top: 60px;
}

.skills-item {
    padding: 32px 42px;
}

.skills-item__icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 74px;
    height: 74px;
    border: 1px solid rgba(8, 4, 21, 0.1);
    border-radius: 50%;
}

.skills-item__title {
    text-align: left;
    margin-top: 40px;
    font-size: 3.2rem;
    line-height: 125%;
    letter-spacing: -0.128rem;
}

.skills-item__sub-title {
    text-align: left;
}

/* =============== Projects =============== */
.project {
    margin-top: 140px;
    padding: 86px 0;
    background: var(--primary-color);
}

.project__top {
    display: flex;
    align-items: center;
    column-gap: 160px;
}

.project__heading,
.project__desc {
    text-align: left;
    color: #fff;
}

.project__heading {
    width: 468px;
}

.project__desc {
    width: 370px;
}

.project__list {
    margin-top: 70px;
}

.project-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 24px;
    background-image: url(../images/project-bgr.png);
    background-size: cover;
    background-repeat: no-repeat;
}

.project-item__info {
    padding-left: 10px;
    width: 44.5614%;
}

.project-item__title {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: var(--heading-color);
    font-size: 3.2rem;
    font-weight: 500;
    line-height: 125%;
    letter-spacing: -0.128rem;
}

.project-item__sub-title {
    width: 100%;
    margin-top: 10px;
    color: #51586a;
    line-height: 143.75%;
    display: -webkit-box;
    -webkit-line-clamp: var(--line-clamp, 2);
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.project-item__link {
    display: inline-block;
    margin-top: 20px;
    color: var(--heading-color);
    font-size: 1.8rem;
    font-weight: 700;
    line-height: 166.667%;
    text-decoration-line: underline;
}

.project-item__media {
    padding-left: 0;
    width: 47.127%;
}

.project-item__img {
    width: 100%;
}

.project__btn {
    display: block;
    margin: 80px auto 0;
    color: var(--heading-color);
    background: #fff;
}

/* =============== Introduce =============== */
.introduce {
    margin-top: 140px;
}

.introduce-greeting {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 9px;
    margin-bottom: 10px;
}

.introduce-greeting__text {
    color: var(--primary-color);
    font-size: 3.2rem;
    font-weight: 500;
    line-height: 125%;
    letter-spacing: -0.128rem;
}

.introduce__desc {
    width: 48.718%;
    margin: 15px auto 70px;
}

.introduce-data {
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 50px;
    width: 80.85%;
    padding: 20px 95px;
    margin-left: auto;
    margin-right: auto;
    border-width: 1px;
    border-top: 1px solid rgb(8, 4, 21, 0.2);
    border-bottom: 1px solid rgb(8, 4, 21, 0.2);
}

.introduce-data__item {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.introduce-data__number {
    color: var(--heading-color);
    font-size: 5.6rem;
    font-weight: 500;
    line-height: 135.714%;
    letter-spacing: 0.168rem;
    text-decoration-line: underline;
}

.introduce-data__title {
    margin-top: 0;
    text-align: left;
}
