* {
    box-sizing: border-box;
}

:root {
    --primary-color: #5d3bee;
    --heading-color: #080415;
    --normal-text-color: #51586a;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body {
    height: 10000px;
    font-size: 1.6rem;
    font-family: "DM Sans", sans-serif;
}

input,
textarea,
select,
button {
    font-family: inherit;
    font-size: inherit;
}

a {
    text-decoration: none;
}

button {
    border: none;
    outline: none;
}

/* =============== Common =============== */
.btn {
    width: 170px;
    height: 62px;
    color: #fdfdfd;
    background: var(--primary-color);
    font-size: 1.8rem;
    font-weight: 700;
    line-height: 166.667%;
}

.section-heading {
    text-align: center;
    color: var(--heading-color);
    font-size: 5.6rem;
    font-weight: 500;
    line-height: 117.857%;
    letter-spacing: -0.224rem;
}

.section-desc {
    margin-top: 20px;
    color: #51586a;
    text-align: center;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 166.667%;
}

/* Slide dots */
.slide-dots {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 13px;
}
.dot {
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background-color: rgba(8, 4, 21, 0.2);
}

.dot-input-1:checked ~ .dot:nth-of-type(1),
.dot-input-2:checked ~ .dot:nth-of-type(2),
.dot-input-3:checked ~ .dot:nth-of-type(3),
.dot-input-4:checked ~ .dot:nth-of-type(4),
.dot-input-5:checked ~ .dot:nth-of-type(5) {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20px;
    height: 20px;
    background-color: #fff;
    border-radius: 50%;
    border: 1px solid var(--primary-color);
}

.dot-input-1:checked ~ .dot:nth-of-type(1):before,
.dot-input-2:checked ~ .dot:nth-of-type(2):before,
.dot-input-3:checked ~ .dot:nth-of-type(3):before,
.dot-input-4:checked ~ .dot:nth-of-type(4):before,
.dot-input-5:checked ~ .dot:nth-of-type(5):before {
    display: block;
    content: "";
    width: 12px;
    height: 12px;
    background-color: #5d3bee;
    border-radius: 50%;
}

@keyframes grow {
    from {
        height: 0;
    }
    to {
        height: 100%;
    }
}

/* =============== Header =============== */
.header {
    position: sticky;
    padding-top: 20px;
    top: -10px;
    background-color: #fbfaff;
    z-index: 9;
}

.header__inner {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 10px 0;
}

.header-email {
    display: flex;
    align-items: center;
    column-gap: 10px;
}

.header-email__message {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;

    width: 46px;
    height: 46px;
    border: 1px solid rgb(93, 59, 236, 0.2);
    border-radius: 50%;
}
.header-email__link {
    color: var(--heading-color);
    font-size: 2.2rem;
    font-weight: 500;
    line-height: 136.364%;
    text-decoration-line: underline;
}
.header__logo {
    position: absolute;
    inset: 50%;
    translate: -50% -50%;
}
.header__list {
    display: flex;
    column-gap: 43px;
}
.header__link {
    color: var(--normal-text-color);
    line-height: 143.75%;
}

/* =============== Hero =============== */
.hero {
    padding-top: 66px;
    background-color: #fbfaff;
    background-image: url(../images/bgr-hero.png);
    background-repeat: no-repeat;
    background-size: 100% calc(100% + 86px);
    background-position: bottom center;
}

.hero__media {
    padding-right: 71px;
}

.hero__img {
    display: block;
    width: 100%;
}

.hero__info {
    padding-top: 137px;
    width: 500px;
    margin-left: auto;
}

.hero__heading {
    color: var(--heading-color);
    font-size: 8rem;
    font-weight: 500;
    line-height: 95%;
}

.hero__desc {
    margin-top: 20px;
    width: 370px;
    color: var(--normal-text-color);
    font-size: 1.8rem;
    line-height: 166.667%;
}

.hero-cta {
    margin-top: 50px;
    display: flex;
    align-items: center;
    column-gap: 30px;
}

.hero-cta__link {
    color: var(--heading-color);
    font-size: 1.8rem;
    font-weight: 700;
    line-height: 166.667%;
    text-decoration-line: underline;
}

.hero-social {
    margin-top: 109px;

    display: flex;
    align-items: center;
    column-gap: 15px;
}

.hero-social__label {
    color: var(--normal-text-color);
    font-weight: 500;
    line-height: 187.5%;
}

.hero-social__list {
    display: flex;
    align-items: center;
    column-gap: 20px;
}

.hero-socical__item {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 1px solid rgba(8, 4, 21, 0.1);
}

/* =============== Clients =============== */
.clients {
    margin-top: 100px;
}

.clients__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.client__heading {
    --with-first-line: 86px;
    margin-left: var(--with-first-line);
    position: relative;
    width: 253px;
    color: var(--heading-color);
    font-size: 4.2rem;
    font-weight: 500;
    line-height: 119.048%;
    letter-spacing: -0.168rem;
}

.client__heading::before {
    position: absolute;
    left: calc(-1 * (var(--with-first-line) + 13px));
    top: 22px;
    content: "";
    display: block;
    width: 86px;
    height: 2px;
    background-color: var(--primary-color);
}

.clients__list {
    flex-shrink: 2;
    display: grid;
    grid-template-columns: repeat(3, 1fr) 102px;
    align-items: center;
    gap: 41px 36px;
}

.clients-item {
    display: flex;
    align-items: center;
    border-radius: 50%;
    column-gap: 13px;
}

.clients-item__logo {
    width: 36px;
    height: 36px;
    border-radius: 50%;
}

.clients-item__name {
    font-size: 1.7rem;
    font-weight: 500;
}

/* =============== Skills =============== */
.skills {
    margin-top: 133px;
}

.skills__desc {
    width: 534px;
    margin-left: auto;
    margin-right: auto;
}

.skills__list {
    margin-top: 60px;
}

.skills-item {
    padding: 32px 42px;
}

.skills-item__icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 74px;
    height: 74px;
    border: 1px solid rgba(8, 4, 21, 0.1);
    border-radius: 50%;
}

.skills-item__title {
    text-align: left;
    margin-top: 40px;
    font-size: 3.2rem;
    line-height: 125%;
    letter-spacing: -0.128rem;
}

.skills-item__sub-title {
    text-align: left;
}

/* =============== Projects =============== */
.project {
    margin-top: 140px;
    padding: 86px 0;
    background: var(--primary-color);
}

.project__top {
    display: flex;
    align-items: center;
    column-gap: 160px;
}

.project__heading,
.project__desc {
    text-align: left;
    color: #fff;
}

.project__heading {
    width: 468px;
}

.project__desc {
    width: 370px;
}

.project__list {
    margin-top: 70px;
}

.project-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 24px;
    background-image: url(../images/project-bgr.png);
    background-size: cover;
    background-repeat: no-repeat;
}

.project-item__info {
    padding-left: 10px;
    width: 44.5614%;
}

.project-item__title {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: var(--heading-color);
    font-size: 3.2rem;
    font-weight: 500;
    line-height: 125%;
    letter-spacing: -0.128rem;
}

.project-item__sub-title {
    width: 100%;
    margin-top: 10px;
    color: #51586a;
    line-height: 143.75%;
    display: -webkit-box;
    -webkit-line-clamp: var(--line-clamp, 2);
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.project-item__link {
    display: inline-block;
    margin-top: 20px;
    color: var(--heading-color);
    font-size: 1.8rem;
    font-weight: 700;
    line-height: 166.667%;
    text-decoration-line: underline;
}

.project-item__media {
    padding-left: 0;
    width: 47.127%;
}

.project-item__img {
    width: 100%;
}

.project__btn {
    display: block;
    margin: 80px auto 0;
    color: var(--heading-color);
    background: #fff;
}

/* =============== Introduce =============== */
.introduce {
    margin-top: 140px;
}

.introduce-greeting {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 9px;
    margin-bottom: 10px;
}

.introduce-greeting__text {
    color: var(--primary-color);
    font-size: 3.2rem;
    font-weight: 500;
    line-height: 125%;
    letter-spacing: -0.128rem;
}

.introduce__desc {
    width: 48.718%;
    margin: 15px auto 70px;
}

.introduce-data {
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 50px;
    width: 80.85%;
    padding: 20px 95px;
    margin-left: auto;
    margin-right: auto;
    border-width: 1px;
    border-top: 1px solid rgb(8, 4, 21, 0.2);
    border-bottom: 1px solid rgb(8, 4, 21, 0.2);
}

.introduce-data__item {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.introduce-data__number {
    color: var(--heading-color);
    font-size: 5.6rem;
    font-weight: 500;
    line-height: 135.714%;
    letter-spacing: 0.168rem;
    text-decoration-line: underline;
}

.introduce-data__title {
    margin-top: 0;
    text-align: left;
}

.introduce-wrap-video {
    position: relative;
    width: 100%;
    margin-top: 70px;
    padding-top: 56.25%;
    background-image: url(../images/video-poster.jpg);
    background-size: cover;
}

.introduce_play {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    width: 111px;
    height: 111px;
    border-radius: 50%;
    background: #fff;
}

.introduce_btn {
    position: absolute;
    right: 10px;
    bottom: 10px;
    color: #51586a;
    background: #fff;
}

/* =============== Review =============== */
.review {
    position: relative;
    padding-bottom: 74px;
    margin-top: 150px;
}

.review__desc {
    width: 570px;
    margin-left: auto;
    margin-right: auto;
}

.review__list {
    display: flex;
    column-gap: 20px;
    margin-top: 60px;
    margin-left: auto;
    margin-right: auto;
    width: 700px;
    padding: 10px;
    overflow: hidden;
}

.review-item {
    flex-shrink: 0;
    width: 100%;
}

.review-item__content {
    display: block;
    color: #51586a;
    text-align: center;
    font-size: 2.4rem;
    line-height: 166.667%;
}

.review-auth {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 15px;
    margin-top: 36px;
}

.review-auth__avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.review-auth__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: inherit;
}

.review-auth__name {
    color: #080415;
    font-size: 3rem;
    font-weight: 500;
    line-height: 133.333%;
}

.review-item__job {
    color: #51586a;
    text-align: center;
    line-height: 181.25%;
}

.review__dots {
    margin-top: 40px;
}

.review-bgr-deco {
    position: absolute;

    bottom: 0;
}

.review-bgr-deco:nth-of-type(1) {
    left: 0;
}

.review-bgr-deco:nth-of-type(2) {
    right: 0;
}

/* =============== Questions =============== */
.questions {
    margin-top: 95px;
}

.question__inner {
    width: 86.32%;
}

.questions__heading {
    width: 56.93%;
    text-align: left;
}

.questions__list {
    margin-top: 80px;
}

.question {
    position: relative;
    width: 100%;
    padding-left: 22px;
}

.question + .question {
    margin-top: 60px;
}

.question__content {
    color: var(--heading-color);
    font-size: 3.2rem;
    font-weight: 500;
    line-height: 125%;
    letter-spacing: -0.128rem;
}

.question__btn--checked,
.question__btn--unchecked {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 50%;
    right: 0;
    translate: -50% -50%;
    width: 50px;
    height: 50px;
    border-width: 2px;
    border-radius: 50%;
    border-style: solid;
}

.question__btn--checked {
    border-color: rgba(22, 26, 28, 0.2);
}

.question__btn--unchecked {
    display: none;
    border-color: var(--primary-color);
}

.question__answer {
    display: block;
    height: 0;
    width: 48.22%;
    overflow: hidden;
    text-align: left;
}

.question_border {
    margin-top: 33px;
    width: 100%;
    height: 2px;
    background: var(--heading-color);
}

.toggle-answer-input:checked ~ .question__wrap .question__content {
    color: var(--primary-color);
}

.toggle-answer-input:checked ~ .question__answer {
    height: 100%;
}

.toggle-answer-input:checked ~ .question__wrap .question__btn--checked {
    display: none;
}

.toggle-answer-input:checked ~ .question__wrap .question__btn--unchecked {
    display: flex;
}

.toggle-answer-input:checked ~ .question_border {
    margin-top: 23px;
    background: var(--primary-color);
}

/* =============== Workplace =============== */
.workplace {
    margin-top: 160px;
}

.workplace__top {
    text-align: center;
    width: 528px;
    margin-left: auto;
    margin-right: auto;
}

.workplae__desc {
    width: 100%;
}

.workplace__email {
    display: block;
    margin-top: 30px;
    color: var(--primary-color);
    font-size: 3.2rem;
    font-weight: 500;
    line-height: 125%;
    letter-spacing: -0.128rem;
    text-decoration-line: underline;
}

.workplace__media {
    margin-top: 70px;
}

.workplace__img {
    width: 100%;
    height: 529px;
    object-fit: cover;
}
